

RewriteEngine On


#RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ wsGSB.php?ressource=$1 [QSA,NC,L]



#RewriteCond %{REQUEST_FILENAME} -d
#RewriteRule ^(.*)$ wsGSB.php [QSA,NC,L]

#RewriteCond %{REQUEST_FILENAME} -f
#RewriteRule ^(.*)$ wsGSB.php [QSA,NC,L]